* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #9c6c6c;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    /* align-items:end; */
    padding: 10px;

}

.flex{
    width: 350px;
    min-width: 200px;
    height: 200px;
    border: 1px solid black;
}



