* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.herosection {
    width: 100%;
    height: 100vh;
    background-color: #f9f8f8;

    .heronavbar {
        width: 1280px;
        margin: auto;

        .navbar {
            width: 100%;
            display: flex;
            justify-content: right;
            padding: 20px 0;

            ul {
                width: 40%;
                list-style: none;
                display: flex;
                justify-content: space-between;

                li a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #555;
                }


            }

        }


        .herocontainer {
            width: 100%;

            display: flex;
            align-items: center;

            .herocontent {
                flex: 1;
                padding: 20px;
            }


            .heroimage {
                flex: 1;
                padding: 20px;

                img {
                    width: 100%;
                }
            }
        }



    }




}